*, *::before, *::after {
	box-sizing: border-box;
}

:root {
	font-size: 12px;
	font-family: sans-serif;
}

body, html {
	margin: 0;
	padding: 0;
}
body {
	width: 100vw;
	height: 100vh;
	display: block;
	position: relative;
}

.app {
	display: flex;
	height: 100vh;
	overflow: hidden;

	flex-direction: column;
	align-items: stretch;
}

.header {
	height: 4em;
	padding: 0.5em;
	flex: 0 0 auto;
	background-color: #bbbbbb;
}
.header--logo {
	height: 3em;
	vertical-align: middle;
	padding-right: 0.5em;
}

.three-cols {
	display: flex;
	flex: 1 1 auto;
	overflow: hidden;

	flex-direction: row;
	align-items: stretch;

	.feeds, .articles {
		width: 20em;
	}
	.viewer {
		flex: 1
	}
}

.feeds {
	height: 100%;
	background-color: #cccccc;
	white-space: nowrap;
	overflow-x: hidden;
	overflow-y: auto;
	text-overflow: ellipsis;
}
.feeds--title {
	font-size: 1em;
}
.feeds--list,
.feeds--item {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
.feed {
	background-color: white;
	border-bottom: 1px solid #ccc;
	padding: 0.5em;
	cursor: pointer;
}
.feed--selected {
	background-color: #eeeeff;
}

.articles {
	height: 100%;
	background-color: #dddddd;
	white-space: nowrap;
	overflow-x: hidden;
	overflow-y: auto;
	text-overflow: ellipsis;
}
.articles--title {
	font-size: 1em;
}
.articles--list,
.articles--item {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
.article {
	background-color: white;
	border-bottom: 1px solid #ccc;
	padding: 0.5em;
	cursor: pointer;
}
.article--unread {
	border-right: 3px solid #3333ff;
}
.article--selected {
	background-color: #eeeeff;
}
.viewer {
	background-color: #eeeeee;
	position: relative;
}
.viewer--iframe {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	border: 0 none;
}
